.sidebar-container {
  min-width: 300px;
  background-color: lightgray;
  color: #333333;
  padding: 0 20px;
}

.sidebar-header h1 {
  font: inherit;
  font-size: 22px;
}

.sidebar-search-container > form {
  position: relative;
  margin-bottom: 10px;
}
.sidebar-search-container input{
  /*width: 100%;*/
  color: #666;
  outline: 0;
  border: 1px solid #c1c1c1;
  padding: 6px 7px;
  background: #f0f0f0;
  border-radius: 3px;
  transition: 0.5s ease;

}

.sidebar-search-container input:focus{
  background: white;
}

.sidebar-search-container .search-button {
    position: absolute;
    right: 60px;
    top: 5px;
    outline: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: #696969;
    font-size: 16px;
    font-weight: normal;
  }

.sidebar-footer {
  margin: 0 15px;
  border-top: 1px solid #c1c1c1;
}

.sidebar-footer a {
  text-decoration: none;
  color: #666;
  cursor: pointer;
}

.sidebar-footer span {
  color: #666;
  padding-top: 5px;
}
